[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-search:before {
  content: "\e908";
}
._icon-star:before {
  content: "\e909";
}
._icon-chair:before {
  content: "\e900";
}
._icon-theater:before {
  content: "\e901";
}
._icon-arrow-left:before {
  content: "\e902";
}
._icon-arrow-right:before {
  content: "\e903";
}
._icon-instagram:before {
  content: "\e904";
}
._icon-youtube:before {
  content: "\e905";
}
._icon-vk:before {
  content: "\e906";
}
._icon-facebook:before {
  content: "\e907";
}
