@import './utils/fonts.scss';
@import './utils/vars.scss';
@import './utils/reset.scss';
@import './utils/mixins.scss';
@import './icon-font.scss';
@import './slick.scss';

html, body {
    height: 100%;
}

body {
    font-family: $f-default;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: $c-black;
}

body._lock {
    overflow: hidden;
}

h1 {
    font-family: $f-headers;
    font-size: 64px;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

h2 {
    font-family: $f-headers;
    font-size: 48px;
    font-weight: 300;
    line-height: 65px;
    letter-spacing: 0.1em;
    color: #FFFFFF;

    span {
        color: $c-gold;
    }
}

h3 {
    font-family: $f-headers;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

a {
    color: inherit;
}

.section-header {
    margin-bottom: 100px;
    text-transform: uppercase;
    text-align: center;

    @media(max-width: $lg) {
        margin-bottom: 60px;
    }
}

.p-18b, .p-16b, .b-21b {
    font-family: $f-headers;
    font-weight: 700;
    color: #FFFFFF;
}

.p-18b {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1rem;
}

.p-16b {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05rem;
}

.b-21b {
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    max-width: $containerWidth;
    padding: 0 15px;
}

.fluid-container {
    // padding-left: calc(50% - (1140px / 2) - 150px); // margin-left: calc(50% - (1140px / 2) - 255px);
    padding-left: 135px;
    overflow: hidden;

    @media(max-width: $xl) {
        padding-left: 176px;
    }

    @media(max-width: $lg) {
        padding-left: 23px;
    }

    @media(max-width: $md) {
        padding-left: 18px;
    }
}

.button {
    background-color: $c-gold;
    color: #FFFFFF;
    font-family: $f-headers;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    height: 50px;
    padding: 0 47px;
    cursor: pointer;
}

.burger {
    display: none;

    &__button {
        @include size(40px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        padding: 0;
        margin: 0;
        color: #FFFFFF;
        font-size: 40px;
    }

    &__close-btn {
        position: absolute;
        right: 30px;
        top: 30px;
        @include size(32px);
        font-size: 32px;
        color: #FFFFFF;
        background: transparent;
        font-size: 16px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: -100%;
        top: 0;
        padding: 0 46px 0 39px;
        max-width: 300px;
        max-height: 100vh;
        width: 100%;
        background-color: $c-black;
        z-index: 50;
        overflow: hidden;
        transition: left 0.3s ease;

        &_active {
            left: 0;
        }
    }

    &__lists-wrap {
        overflow-y: auto;
    }

    &__menu-list {
        padding-top: 140px;
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-bottom: 89px;
    }

    &__menu-item {
        font-family: $f-headers;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    &__social-list {
        padding: 0 15px 143px;
        width: 220px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: #FFFFFF;
        font-size: 45px;
    }

    &__social-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 50%;
        margin-bottom: 45px;
    }


    @media(max-width: $lg) {
        display: flex;
    }
}


.header {
    flex: 0 0 auto;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &__content {
        padding: 190px 0 208px;
        display: flex;
        justify-content: space-between;
        gap: 125px;
    }

    &__text-block {
        flex-basis: 50%;
        padding-top: 118px;
    }

    &__title {
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 45px;
    }

    &__slider {
        flex-basis: 50%;
        margin-right: 75px;
        max-width: 370px;
        width: 100%;
    }

    &__slider-content {
        margin-bottom: 48px;
        position: relative;
    }

    &__slider-front-img {
        position: relative;
        margin-bottom: 20px;
        margin-right: 20px;
        z-index: 5;
    }

    &__slider-back-img {
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 4;

        img {
            position: relative;
            z-index: 3;
        }
    }
    &__slider-back-img-blur {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        background: linear-gradient(0deg, rgba(209, 169, 84, 0.85), rgba(209, 169, 84, 0.85));
    }

    &__slider-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__slider-button {
        background: transparent;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 25px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__slider-arrow {
        font-size: 38px;
    }

    @media (max-width: $xl) {
        &__inner {
            grid-column: 3 / 12;
        }
        &__content {
            padding: 114px 0 363px;
        }
        &__slider {
            display: none;
        }
        &__text-block {
            flex-basis: 540px;
        }
    }
    @media (max-width: $lg) { 
        &__content {
            padding: 44px 0 208px;
            justify-content: center;
        }
    }
    @media(max-width: $md) {
        &__content {
            padding: 45px 17px 106px;
        }
        &__text-block {
            flex-basis: 100%;
            padding-top: 63px;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;

    &__menu-list {
        display: flex;
        align-items: center;
        gap: 63px;
    }

    &__menu-item {
        text-transform: uppercase;
    }

    &__phone {
        border-bottom: solid 2px $c-gold;
        padding-bottom: 3px;
    }

    @media (max-width: $xl) {
        flex-direction: column;
        gap: 50px;

        &__menu-list {
            gap: 30px;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }

    @media(max-width: $lg) {
        padding: 0 23px;
        flex-direction: row;
        justify-content: space-between;

        &__menu-list {
            display: none;
        }
    }

    @media(max-width: $md) {
        padding: 0 18px;
    }
}

.main {
    flex: 1 0 auto;
}

.about {
    padding: 145px 0; // 150px 0

    &__content {
        display: flex;
        gap: 30px;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 33px;
        text-transform: uppercase;
    }

    &__description {
        flex-basis: 445px;
    }

    &__numbers {
        flex-grow: 1;
    }

    &__numbers-item + &__numbers-item {
        margin-top: 20px;
    }

    &__numbers-icon {
        @include size(70px);
        font-size: 70px;
        color: #FFFFFF;
    }

    &__numbers-text {
        margin-top: 15px;

        span {
            color: $c-gold;
        }
    }

    &__image {
        flex-basis: 350px;
    }

    @media(max-width: $xl) {
        padding: 152px 0 147px;

        &__inner {
            grid-column: 3 / 12;
        }
        &__content {
            justify-content: normal;
        }
        &__numbers {
            flex-grow: 0;
        }
        &__image {
            display: none;
        }
    }

    @media(max-width: $lg) {
        padding: 134px 0 86px 0;

        &__inner {
            padding: 0px 24px;
        }
    }

    @media(max-width: $md) {
        padding: 80px 0 75px;

        &__inner {
            padding: 0 20px;
        }

        &__content {
            flex-direction: column;
            text-align: center;
            gap: 50px;
        }

        &__description {
            flex-basis: 100%;
        }

        &__numbers-list {
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        &__numbers-item + &__numbers-item {
            margin: 0;
        }
    }
}

.performances {
    margin-bottom: 150px;

    &__slider {
        padding-left: 15px;
    }

    &__slider-track {
        display: flex;
    }

    &__slide {
        flex-shrink: 0;
        flex-basis: 442px;
        height: 100%;
        position: relative;
        text-transform: uppercase;

        &:hover .performances__hover {
            display: flex;
            opacity: 1;
        }

        &:hover .performances__slide-info {
            opacity: 0;
        }
    }

    &__slide-info {
        @include size(100%);
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    &__slide-title {
        position: absolute;
        left: 40px;
        top: 40px;
    }

    &__slide-date {
        position: absolute;
        bottom: 40px;
        left: 65px;
        transform: rotate(-90deg);
        transform-origin: left bottom 0;
    }

    &__hover {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    &__hover-circut {
        background-color: $c-gold;
        border-radius: 50%;
        @include size(100px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        cursor: pointer;
        color: #FFFFFF;
        z-index: 5;
    }

    @media(max-width: $xl) {
        & .container {
            display: block;
        }
    }

    @media(max-width: $lg) {
        margin-bottom: 90px;
    }
}


.testimonials {
    margin-bottom: 155px;

    &__inner {
        padding: 126px 178px 126px 190px;
        background-image: url('../img/testimonials-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__body {
        display: flex;
        align-items: center;
        gap: 124px;
    }

    &__date-list {
        display: flex;
        flex-direction: column;
    }

    &__date-item {
        font-family: $f-headers;
        font-size: 72px;
        line-height: 98px;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: $c-gold;
    }

    &__rate-list {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-bottom: 25px;
    }

    &__rate-item {
        color: $c-gold;
        font-size: 23px;
        @include size(26px, 24px);
    }

    &__rate-text {
        font-family: $f-default;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
    }

    @media(max-width: $xl) {
        & .container {
            max-width: 100%;
            padding: 0;
            display: block;
        }

        &__inner {
            padding: 126px 120px 124px 99px;
        }

        &__body {
            gap: 80px;
        }

        &__rate-text {
            font-size: 34px;
            line-height: 51px;
        }

        &__rate-item {
            width: 22px;
        }

        &__rate-list {
            gap: 20px
        }

    }

    @media(max-width: $lg) {
        margin-bottom: 94px;

        &__inner {
            padding: 126px 120px 126px 99px;
        }

        &__body {
            gap: 20px;
        }

        &__rate-text {
            font-size: 29px;
            line-height: 44px;
        }
    }

    @media(max-width: $md) {
        margin-bottom: 84px;

        &__inner {
            padding: 116px 55px 126px 33px;
        }

        &__rate-text {
            font-size: 25px;
            line-height: 38px;
        }
    }
}

.partners {
    margin-bottom: 120px;
    &__column {
        display: flex;
        padding: 0 37px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        row-gap: 80px;
        column-gap: 78px;
        flex-direction: column;
    }

    &__item {
        flex-shrink: 0;

        &:first-child {
            margin-bottom: 78px;
        }
    }

    @media(max-width: $xl) {
        & .container {
            display: block;
        }

        &__list {
            justify-content: center;
        }
    }

    @media(max-width: $lg) {
        margin-bottom: 90px;

        &__list {
            padding: 0 24px;
            column-gap: 40px;
            justify-content: center;
        }
    }
    
    @media(max-width: $md) {
        margin-bottom: 105px;
    }
}

.donate {
    margin-bottom: 80px;

    a {
        color: inherit;
    }

    &__body {
        display: flex;
        gap: 125px;
    }

    &__contacts {
        flex-basis: 255px;
        flex-shrink: 0;
    }

    &__contacts-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__contacts-item {
        text-transform: uppercase;
    }

    &__form {
        display: grid;
        grid-template-areas: 
            'inputs textarea'
            'info button';
        row-gap: 40px;
        column-gap: 30px;
    }

    &__form-inputs {
        grid-area: inputs;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        flex-basis: calc(50% - 30px);
        border: none;
    }

    &__form-input {
        background: #444444;
        border: 1px solid #616161;
        height: 35px;
        color: #989898;
        padding: 0 15px;
        flex-basis: calc(50% - 30px);
        max-width: 180px;
    }

    &__form-textarea {
        grid-area: textarea;
        background: #444444;
        border: 1px solid #616161;
        height: 100px;
        color: #989898;
        padding: 0 15px;
        min-width: 310px;
    }

    &__form-info {
        grid-area: info;
        font-size: 12px;
        line-height: 18px;
        color: #989898;
    }

    &__form-button {
        grid-area: button;
        display: flex;
        justify-content: flex-end;
    }

    @media(max-width: $xl) {
        & .container {
            display: block;
        }
        &__body {
            flex-direction: column-reverse;
            padding: 0 23px;
        }
        &__form-textarea {
            min-width: 270px;
        }
    }

    @media(max-width: $md) {
        &__form {
            display: flex;
            flex-direction: column;
            padding: 0 20px;
            row-gap: 33px;
        }

        &__inputs {
            order: 1;
            margin-bottom: 30px;
        }

        &__form-textarea {
            order: 2;
            margin-bottom: 6px;
        }
        &__form-button {
            order: 3;
            justify-content: center;
        }
        &__form-info {
            padding: 0 30px;
            text-align: center;
            order: 4;
        }
        &__form-inputs {
            justify-content: space-between;
        }

        &__form-input {
            max-width: none;
        }
    }
}

.footer {
    flex: 0 0 auto;

    &__inner {
        border-top: 1px solid #565656;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #989898;
        font-size: 12px;
        line-height: 18px;
    }
}

@media(max-width: $xl) {
    .container {
        max-width: 960px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 30px;
    }
}

@media(max-width: $lg) {
    .container {
        display: block;
    }
}