@font-face {
  font-family: 'icon';
  src:  url('../fonts/icon.eot?z2ojkj');
  src:  url('../fonts/icon.eot?z2ojkj#iefix') format('embedded-opentype'),
    url('../fonts/icon.ttf?z2ojkj') format('truetype'),
    url('../fonts/icon.woff?z2ojkj') format('woff'),
    url('../fonts/icon.svg?z2ojkj#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}