@font-face {
    font-family: 'icon';
    src:  url('../fonts/icon.eot?canka1');
    src:  url('../fonts/icon.eot?canka1#iefix') format('embedded-opentype'),
      url('../fonts/icon.ttf?canka1') format('truetype'),
      url('../fonts/icon.woff?canka1') format('woff'),
      url('../fonts/icon.svg?canka1#icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }