//Font
$f-headers: 'Open Sans Condensed', sans-serif;
$f-default: 'Open Sans', sans-serif;


//Colors
$c-gold: #D1A954;
$c-black: #333333;


//Size

$containerWidth: 1140px;


//Breakpoitns

$lg: 992px;
$md: 768px;
$sm: 576px;