//Font
$f-headers: 'Open Sans Condensed', sans-serif;
$f-default: 'Open Sans', sans-serif;


//Colors
$c-gold: #D1A954;
$c-black: #333333;


//Size

$containerWidth: 1140px;


//Breakpoitns

$xl: 1023.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;